Repository Tshogun/Scheduling_Agent_Prod: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-staged, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-staged
        name: Run lint-staged on frontend files
        entry: cmd /c "cd frontend && npm exec lint-staged"
        language: system
        pass_filenames: false
        files: ^frontend/

  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint for go-orchestrator
        entry: bash -c "cd backend/services/go-orchestrator && golangci-lint run"
        language: system
        types: [go]
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.10
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 25.1.0  # Use the latest stable version
    hooks:
      - id: black
        name: black (formatter)
        language_version: python3
        args: [./backend/services/python-services]

chore: apply auto-formatting from ruff and black
  .github/workflow/golang-lint.yml
  .pre-commit-config.yaml
  backend/services/python-services/__init__.py
  backend/services/python-services/main.py
  backend/services/python-services/proto/service_pb2.py
  backend/services/python-services/proto/service_pb2_grpc.py
Due: none

added python ci in workflow
  .github/workflow/python-lint.yml
Due: none

workflow fixes
  .github/workflows/golang-lint.yml
  .github/workflows/lint.yaml
  .github/workflows/python-lint.yml
Due: none

workflow fixes
  .github/workflows/golang-lint.yml
  .github/workflows/lint.yaml
Due: none

linting ci fixes
  .github/workflows/lint.yaml
Due: none

further fixes
  .github/workflows/lint.yaml
Due: none

further fixes
  .pre-commit-config.yaml
Due: none

lint build checks
  frontend/package-lock.json
Due: lint-staged

lint build checks
  .github/workflows/lint.yaml
Due: none

lint build checks
  frontend/nuxt.config.ts
Due: lint-staged

lint build checks
  .github/workflows/lint.yaml
  frontend/nuxt.config.ts
Due: lint-staged

another fix
  .github/workflows/lint.yaml
  frontend/nuxt.config.ts
Due: lint-staged

sign up page fixes
  frontend/app/pages/index.vue
  frontend/app/pages/login.vue
  frontend/app/pages/signup.vue
Due: lint-staged

feat: Add chat panel to scheduling page
  frontend/app/components/ChatPanel.vue
  frontend/app/pages/scheduling.vue
  frontend/package-lock.json
Due: lint-staged

still fixing ui issue
  frontend/nuxt.config.ts
Due: lint-staged

akdfjl
  frontend/nuxt.config.ts
Due: lint-staged

a;flad
  .github/workflows/lint.yaml
  frontend/nuxt.config.ts
Due: lint-staged

afja
  .github/workflows/lint.yaml
  frontend/app/pages/signup.vue
Due: lint-staged

Backend/setup (#9)
  .github/workflows/golang-lint.yml
  .github/workflows/lint.yaml
  .github/workflows/python-lint.yml
  .pre-commit-config.yaml
  backend/services/go-orchestrator/.golangci.bck.yml
  backend/services/go-orchestrator/.golangci.yml
  backend/services/go-orchestrator/main.go
  backend/services/python-services/__init__.py
  backend/services/python-services/main.py
  backend/services/python-services/proto/service_pb2.py
  backend/services/python-services/proto/service_pb2_grpc.py
  frontend/app/pages/signup.vue
  frontend/nuxt.config.ts
  frontend/package-lock.json
Due: lint-staged, golangci-lint

alkadf
  frontend/app/components/ChatPanel.vue
  frontend/app/components/chat-panel.vue
  frontend/app/pages/scheduling.vue
Due: lint-staged

syncing backend with frontend (#10)
  .github/workflow/golang-lint.yml
  backend/services/go-orchestrator/main.go
  backend/services/python-services/main.py
  backend/services/python-services/proto/service_pb2.py
  backend/services/python-services/proto/service_pb2_grpc.py
  frontend/app/components/chat-panel.vue
  frontend/app/pages/index.vue
  frontend/app/pages/login.vue
  frontend/app/pages/scheduling.vue
  frontend/app/pages/signup.vue
Due: lint-staged, golangci-lint

llm setup success
  backend/services/go-orchestrator/go.mod
  backend/services/go-orchestrator/go.sum
  backend/services/python-services/groq_services.py
  backend/services/python-services/main.py
  backend/services/python-services/proto/__init__.py
  backend/services/python-services/proto/service_pb2_grpc.py
  backend/services/python-services/requirements.txt
  frontend/app/components/chat-panel.vue
Due: lint-staged
